<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="viewport" content="width=device-width"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css"/>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <title>SPIKE Exercise</title>
        <style>
            .row div {
                padding-left: 10px;
                padding-right: 10px;
            }
            .box {
                padding: 50px;
                text-align: center;
                vertical-align: middle;
            }
            .application-header {
                background-color: #161616;
                color: white;
                font-size: larger;
            }
        </style>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div th:fragment="logo">
            <div class="application-header">
                SPIKE Exercise (What RU Having?)
            </div>
            <!--/* displayed if account IS NOT null, indicating that the user IS logged in */-->
            <div th:if="${account}">
                <h1 th:inline="text">Hello, [[${account.givenName}]] Welcome!</h1>
                <a href="/home" class="btn btn-primary">Home</a>
                <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
            </div>
            <!--/* displayed if account IS null, indicating that the user IS NOT logged in */-->
            <div th:unless="${account}">
                <h1>Who are you?</h1>
                <a th:href="@{/login}" class="btn btn-success">Login</a>
            </div>
            <hr/>
            <p>&nbsp;</p>            
        </div>
    </body>
</html>