<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*/ <th:block th:include="fragments/header :: head"/> /*/-->
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div>
                    <!--/*/ <th:block th:include="fragments/header :: logo"/> /*/-->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="logo">
                                <h1 th:text="${errors.status}"></h1>
                            </div>
                            <p class="lead text-muted" th:text="${errors.message}">Unauthorized</p>
                            <a href="/home" onclick="javascript:window.history.back();" class="btn btn-primary">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>