<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*/ <th:block th:include="fragments/header :: head"/> /*/-->
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div>
                    <!--/*/ <th:block th:include="fragments/header :: logo"/> /*/-->
                    <div class="container-fluid">
                        <div class="row">
                            <div>
                                <div>
                                    <b>Update User Details:</b>
                                </div>
                                <form th:action="@{/user/update}"  method="POST">
                                    <input type="hidden" name="id" th:field="${userDetails.id}" />
                                    <p>
                                        Gender: <input required="required" type="text" name="gender" th:field="${userDetails.gender}" />
                                    </p>
                                    <input type="submit" class="btn btn-success" name="submit" value="Update Gender" />
                                </form>
                            </div>
                            <div>
                                <div>
                                    <b>Food Choices:</b>
                                </div>
                                <div>
                                    Add New-*:
                                </div>
                                <form th:action="@{/fooditem/new}" th:object="${foodItem}" method="post" class="form-inline">
                                    <div class="form-group">
                                        <label for="meal">Meal</label>
                                        <input type="text" required="required" th:field="*{meal}" class="form-control" id="meal" placeholder="Meal Category"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <input type="text" required="required" th:field="*{category}" class="form-control" id="category" placeholder="Food Category"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" required="required" th:field="*{name}" class="form-control" id="name" placeholder="Food Name"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="amount">Amount</label>
                                        <input type="number" required="required" th:field="*{amount}" class="form-control" id="amount" placeholder="Amount/Quantity"/>
                                    </div>
                                    <button type="submit" class="btn btn-success">Add</button>
                                </form>
                                <div th:if="${#lists.size(foodItems)}">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-1 text-center">My Meal Plan</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="foodItem : ${foodItems}">
                                                    <td class="text-center">
                                                        <form class="stormpath-hidden-form" th:action="@{/fooditem/update}" method="post">
                                                            <table>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Meal</th>
                                                                        <th>Category</th>
                                                                        <th>Name</th>
                                                                        <th>Amount</th>
                                                                        <th>Update?</th>
                                                                        <th>Delete?</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <input name="meal" required="required" th:value="${foodItem.meal}" type="text"/>
                                                                        </td>
                                                                        <td>
                                                                            <input name="category" required="required" th:value="${foodItem.category}" type="text"/>
                                                                        </td>
                                                                        <td>
                                                                            <input name="name" required="required" th:value="${foodItem.name}" type="text"/>
                                                                        </td>
                                                                        <td>
                                                                            <input name="amount" required="required" th:value="${foodItem.amount}" type="number"/>
                                                                            <input name="id" th:value="${foodItem.id}" type="hidden"/>
                                                                            <input name="submit" style="display:none;" value="submit" type="submit"/>
                                                                        </td>
                                                                        <td>
                                                                            <a href="#" onclick="$(this).closest('form').attr('action', 'fooditem/update').find(':submit').click()">Update</a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="#" onclick="$(this).closest('form').attr('action', 'fooditem/delete').find(':submit').click()">Delete</a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </form>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="/" class="btn btn-primary">Back to Index</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>